Package: com.hackcatml.fricon
Name: fricon
Version: 0.0.7
Architecture: iphoneos-arm
Description: Comfy frida installation tool
Maintainer: hackcatml
Author: hackcatml
Section: System
Tag: role::hacker
Depends:
